<div class="container fluid-container size">
    <div class="row">
        <div class="col-12">
            <h3 class="text-secondary">Sign Up india!</h3>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="g-signin2" data-onsuccess="onSignin">Google</div>
                </div>
                <div class="col-6"><button class="btn btn-primary col-12">Facebook</button></div>
            </div>
            <div class="row mt-3">
                <h5 class="col-12 text-secondary">or provide the following details</h5>
                <div class="col-6"><input type="text" class="form form-control" placeholder="First name"></div>
                <div class="col-6"><input type="text" class="form form-control" placeholder="Last name"></div>
            </div>
            <div class="row mt-3">
                <div class="col-12"><input type="text" class="form form-control" placeholder="email or mobile number"></div>
            </div>
            <div class="row mt-3">
                <div class="col-12"><button class="btn btn-success col-12">Sign up</button></div>
            </div>
        </div>
    </div>
</div>